<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">Curtis
      <span class="text-primary">Kim</span>
    </h1>
    <div class="subheading mb-5" id="phoneNumber">
      <a href="mailto:name@email.com" id="myEmail">curtis.gibeomkim@gmail.com</a>
    </div>
    <div class="subheading mb-5" id="interestArea">SOFTWARE ENGINEERING · CLOUD COMPUTING · DATA SCIENCE
    </div>
    <p class="lead mb-5">Hi, I'm Curtis.<br /><br />
      Currently, graduated from BCIT majoring in Computer Systems Technology, Cloud Computing.
      I'm a self-proclaimed tech enthusiast who works to expand my knowledge and skills, especially in the areas of
      Software development, and Cloud Computing (DevOps).<br />
      <br />
      I'm excited to work on challenging projects that will innovate the business environment. I'm passionate about
      solving problems in the most efficient way and always enjoy sharing knowledge.
      <br /><br />
      More about myself, I love to rap, create music, write lyrics and perform as well. I strive to maintain a balanced
      life by having an active schedule filled with fun activities, such as basketball, soccer, and running.
      <br /><br />
      Feel free to reach me at curtis.gibeomkim@gmail.com<br />

      <p><strong>Qualifications</strong></p>
      • Languages: Python, Java, C/C++, HTML, CSS, JavaScript, SQL, R, Bash<br />
      • Networks: Basic knowledge of networks (TCP/IP, Firewall) and Linux administration<br />
      • Database: MySQL, SQLite, PostgreSQL, MongoDB, Firebase, Airtable<br />
      • Source Control System: Git<br />
      • Cloud Computing Experience:<br />
      <div class="text-indent">
        o Developed a CICD pipeline (GitHub > Travis CI > Better Code Hub > Docker Hub > Heroku) <br />
        o AWS experience in configuring virtual instances, Load balancer, auto scaling groups, API gateway, Lambda
        function, and more <br />
        o Hands-on experience in Kubernetes, Docker, CI/CD tools (Jenkins, Travis CI), and configuration tools (Ansible,
        Chef, Puppet)<br />
      </div>

      • Web Development Skills:<br />
      <div class="text-indent">
        o MVC pattern, Template Engine, Restful APIs, jQuery, Bootstrap, Database Communication, Asynchronous,
        Node.js, Django Frameworks, Cloud Deployment<br />
      </div>
      <hr>

      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Current News</h2>
      <div class="container">
        <div class="w-100">
          <!-- Portfolio Section Heading -->
          <!-- <h4 class="page-section-heading text-center text-uppercase text-secondary mb-5">News</h4> -->
          <!-- Icon Divider -->


          <!-- Portfolio Grid Items -->
          <div class="row justify-content-around">
            <div class="col-8">
              <img class="img-fluid image" src="img/intro/all_news.png" alt="">
            </div>
          </div>
          <br><br>
          <hr/>
          <div class="row justify-content-around">

            <!-- Portfolio Item 1 -->
            <div class="col-3" style="max-height: 517px;">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#intro-1">
                <img class="img-fluid image" src="img/intro/tricity_us_news.png" alt="">
                <div class="middle">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <h4 class="text-center">COVID-19 Updates: US</h4>
            </div>
            <div class="col-3" style="max-height: 517px;">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#intro0">
                <img class="img-fluid image" src="img/intro/cbcnews.png" alt="">
                <div class="middle">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <h4 class="text-center">COVID-19 Updates: Canada</h4>
            </div>
            <div class="col-3" style="max-height: 517px;">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#intro1">
                <img class="img-fluid image" src="img/intro/inovateBC.png" alt="">
                <div class="middle">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <h4 class="text-center">InnovateBC News (Nov 2019)</h4>
            </div>

            <div class="col-3" style="max-height: 517px;">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#intro2">
                <img class="img-fluid image" src="img/intro/ipiu2016.png" alt="">
                <div class="middle">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <h4 class="text-center">IPIU (Apr 2016)</h4>
              <p class="text-center">28th Workshop on Image Processing and Image Understanding</p>
            </div>

          </div>
          <!-- /.row -->
          <!-- Portfolio Item 1 -->
        </div>
      </div>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/curtis-kim/">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/curtis-kim">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/curtisbaam/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
  </div>
</section>

<!-- Detail -->
<!-- Intro-1 -->
<div class="portfolio-modal modal fade" id="intro-1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title -->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">COVID-19 Updates: US
              </h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <!-- <img class="img-fluid rounded mb-5" src="img/intro/innovateBC.png" alt="https://bit.ly/2L4Mv0t"> -->
              <span><b>Coquitlam app developer extends COVID-19 tracking to U.S.</b>
                Curtis Kim launched the tracker at a time when the virus is surging across many southern U.S. states and making a comeback in his native South Korea.</span>
                <img class="img-fluid image" src="img/intro/tricity_us.png" alt="">
              <!-- Portfolio Modal - Text -->
            </br>
          </br>
              <p>
                I made Another News
              </p>
              <a href="https://www.tricitynews.com/news/coquitlam-app-developer-extends-covid-19-tracking-to-u-s-1.24156956">READ MORE</a><br>
              <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="intro0" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title -->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">COVID-19 Updates: Canada
              </h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <!-- <img class="img-fluid rounded mb-5" src="img/intro/innovateBC.png" alt="https://bit.ly/2L4Mv0t"> -->
              <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6641808721406238720" height="414" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
              <!-- Portfolio Modal - Text -->
            </br>
          </br>
              <p>
                I made news; CBC, DailyHive, Virgin Radio, BCIT LINK, TryCity News, BurnabyNow, Vancouver Courier
              </p>
              <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro1 -->
<div class="portfolio-modal modal fade" id="intro1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title -->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Innovator Skills Initiative (ISI)
              </h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <!-- <img class="img-fluid rounded mb-5" src="img/intro/innovateBC.png" alt="https://bit.ly/2L4Mv0t"> -->
              <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6607342949829349376" height="613"
              width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
              <!-- Portfolio Modal - Text -->
              <p class="mb-5"><a href="https://bit.ly/2L4Mv0t">Read News</a></p>
              <p>
                HomerBot Internship Story
              </p>
              <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro2 -->
<div class="portfolio-modal modal fade" id="intro2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title -->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">IPIU 2016</h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image -->
              <img class="img-fluid rounded mb-5" src="img/intro/publicationIPIU2016.png" alt="">
              <!-- Portfolio Modal - Text -->
              <p>
                Title: Online 3D Reconstruction System Using Multi-view Smartphone Images
                <br>
              </p>
              <div class="row">
                <p class="mb-5 col-6"><a
                    href="https://drive.google.com/open?id=1-jo8NLPLDMheZLdmLreiGyP3eJbLuZ2Q">Publication (Eng.)</a></p>
                <p class="mb-5 col-6"><a
                    href="https://drive.google.com/open?id=1Emi2lqrkE8KIxA7edsSOcsLIr556xq6q">Publication (Kor.)</a></p>
              </div>

              the online 3D reconstruction system using web framework establishment and communication, camera
              calibration, editing photographed image information, SfM (Structure from Motion), and MVS (Multi-View
              Stereo) in order to reconstruct multi images photographed by smartphones in 3D form.
              <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>