<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">British Columbia Institute of Technology</h3>
          <div class="subheading mb-3"></div>
          <div>Computer Systems Technology, Cloud Computing</div>

        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Jan. 2018 – Dec. 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">INHA UNIVERSITY </h3>
          <div class="subheading mb-3">Bachelor of Science</div>
          <div>Information and Communication Engineering</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Mar. 2009 – Feb. 2016</span>
        </div>
      </div>

    </div>
  </section>