<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <!-- <h2 class="mb-5">Experience</h2> -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Experience</h2>




      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Web Developer, Project-Contract</h3>
          <div class="subheading mb-3">Vanwhistle Media, New Westminster / WordIn Immigration Management. Vancouver, BC, Canada</div>
          <p>
            • Developed Web Application using Bootstrap and Node.js platform<br>
            • Applied MVC model, Authentication System, Database Model<br>
            • Built an Authentication System, a Payment System and a Database System<br>
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Dec. 2019 – Feb. 2020</span>
        </div>
      </div>


      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Software Developer, Intern</h3>
          <div class="subheading mb-3">HOMERBOT, DOMOMI RENTALS LTD. Vancouver, BC, Canada</div>
          <p>
            • Assisted with the development application and participated in the agile Project<br>
            • Completed Notification functionality using NodeJS in the application<br>
            • Completed Python scrapper of the company’s software
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Feb. 2019 – Aug. 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Teaching Assistant</h3>
          <div class="subheading mb-3">DATA SCIENCE SCHOOL-FAST CAMPUS Seoul, Korea</div>
          <p>
            • Assisted in data science program; Python programming lab, Q&A session, and leading group study<br>
            • Developed various experiences with Machine Learning, Statistics skills, and Data Analysis<br>
            • Improved Python programming skill and the knowledge of Statistics
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Jan. 2017 - Apr. 2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Research Assistant</h3>
          <div class="subheading mb-3">VISION-IN Incheon, Korea</div>
          <p>
            • Assisted with the development of a real-time system for multi-object recognition, human behavior
            perception, and context awareness with big data<br>
            • Developed basics and application knowledge for intelligent surveillance technology, especially video
            image DB construction, and ground truth annotation work which were essential for objective performance
            evaluation of intelligent video surveillance system
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Sep. 2015 - Feb. 2016</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">QA Tester</h3>
          <div class="subheading mb-3">UNITED MERCHANT SERVICES, INC. Hackensack, NJ, US</div>
          <p>
            • Completed monitoring and troubleshooting of the company's software and middleware applications<br>
            • Performed design and executed quality control performance and analysis plans<br>
            • Worked closely with the software development team<br>
            • Provided administrative support to QA
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Feb. 2014 – Jan. 2015</span>
        </div>
      </div>

    </div>

  </section>