<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="portfolio">
    <div class="container">
        <div class="w-100">
            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Portfolio</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <h3 class="page-section-heading text-left text-uppercase text-secondary">Recent Ongoing Project</h3>
            <!-- Portfolio Grid Items -->
            <div class="row justify-content-around">
                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#recentOngoingProject1">
                        <img class="img-fluid image" src="img/portfolio/recent_project/covid19project.png" alt="">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">COVID-19 Updates: Canada</h4>
                    </div>
                </div>


            </div>
            <h3 class="page-section-heading text-left text-uppercase text-secondary">Web Application Project</h3>
            <!-- Portfolio Grid Items -->
            <div class="row justify-content-around">
                <!-- Portfolio Item 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#webProjectModal3">
                        <img class="img-fluid image" src="img/portfolio/webProject/jobseek.png"
                            alt="https://dev-yesnewcomers.herokuapp.com/">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">Job Posting Community Web App</h4>
                    </div>
                </div>
                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#webProjectModal1">
                        <img class="img-fluid image" src="img/portfolio/webProject/rotationMatrix.png" alt="">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">Rotation Matrix Web Game</h4>
                    </div>
                </div>
                <!-- Portfolio Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#webProjectModal2">
                        <img class="img-fluid image" src="img/portfolio/webProject/kbCommunity.png"
                            alt="https://blooming-thicket-91923.herokuapp.com/">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">KnowledgeBase Community</h4>
                    </div>
                </div>


            </div>
            <!-- /.row -->
            <h3 class="page-section-heading text-left text-uppercase text-secondary mb-5">Cloud Computing Experience
            </h3>
            <div class="row justify-content-around">
                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#cloudProjectModal1">
                        <img id="travisCI" class="img-fluid image" src="img/portfolio/travisCI.png" alt="">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">Travics CI [Pipeline]</h4>
                        <!-- <div class="mask flex-center">
                      <p class="white-text">Zoom effect</p>
                  </div> -->

                    </div>
                </div>
            </div>
            <!-- /.row -->

            <h3 class="page-section-heading text-left text-uppercase text-secondary mb-5">Data Science Project
            </h3>

            <div class="row justify-content-around">
                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#dataScienceProjectModal1">
                        <img id="travisCI" class="img-fluid image" src="img/portfolio/datascience/titanic.png" alt="">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">Titanic Machine Learning Competition (2017)</h4>
                        <!-- <div class="mask flex-center">
                                  <p class="white-text">Zoom effect</p>
                              </div> -->

                    </div>
                </div>


                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#dataScienceProjectModal2">
                        <img id="travisCI" class="img-fluid image" src="img/portfolio/datascience/lendingclub.png"
                            alt="">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">Lending Club Default Classification (2017)</h4>
                        <!-- <div class="mask flex-center">
                                  <p class="white-text">Zoom effect</p>
                              </div> -->

                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- DETAILS -->

<!-- WEB PROJECT -->
<div class="portfolio-modal modal fade" id="recentOngoingProject1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h1 class="portfolio-modal-title text-secondary text-uppercase mb-0">COVID-19 Updates: Canada</h1>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/recent_project/covid19project.png" alt="">
                            <img class="img-fluid rounded mb-5" src="img/portfolio/recent_project/covid19project-global-map.png" alt="">
                            <img class="img-fluid rounded mb-5" src="img/portfolio/recent_project/covid19project-global-statistics.png" alt="">
                            <img class="img-fluid rounded mb-5" src="img/portfolio/recent_project/covid19project-latest-news.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <div class="row">
                                <p class="mb-5 col"><a href="http://covid-19canada.com/">Visit Website</a>
                                </p>
                            </div>

                            <p>
                                <b>Goal:</b> I created this web application to help people understand the situation easily. I want to contribute to the community. 
                            </p>

                            <b>DESCRIPTION</b><br>
                            It provides up-to-date information for people on the COVID-19, key contact information, and up=to-date numbers on confirmed cases broken down by province and country around the world. 
                            <br>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- WEB PROJECT -->
<div class="portfolio-modal modal fade" id="webProjectModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Rotation Matrix</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/webProject/memoryGame.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <div class="row">
                                <p class="mb-5 col-6"><a href="https://memory-fun.herokuapp.com/">Play Game</a>
                                </p>
                                <p class="mb-5 col-6"><a href="https://github.com/curtis-kim/memoryGame">Github</a></p>
                            </div>

                            <p>
                                <b>Skills:</b> applying MVC pattern, JavaScript, Node.js, Recursion, Dynamic user
                                interaction,
                                Asynchronous, event driven programming, Cloud Deployment, Remote Database
                            </p>

                            <b>MEMORY GAME DESCRIPTION</b><br>
                            Needs to quickly memorize a group of tiles on a grid (Remembering their location, and the
                            shapes) <br>
                            - If wrong tiles are pressed the next matrix gets generated with lower
                            number of tiles, or smaller size <br>
                            - if the user successfully clicked all the tiles then the
                            game becomes one step more difficult <br><br>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="webProjectModal2" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Rotation Matrix</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <div class="row">
                                <img class="img-fluid rounded mb-5" src="img/portfolio/webProject/kbCommunity.png"
                                    alt="">
                                <img class="img-fluid rounded mb-5" src="img/portfolio/webProject/kbDatabase.png"
                                    alt="">
                            </div>

                            <!-- Portfolio Modal - Text -->
                            <div class="row">
                                <p class="mb-5 col-6"><a href="https://community-knowledge.herokuapp.com/">Visit
                                        Webstie</a>
                                </p>
                                <p class="mb-5 col-6"><a
                                        href="https://github.com/curtis-kim/knowledgeBaseCommunity">Github</a></p>
                            </div>

                            <p>
                                <b>Skills:</b> applying MVC architecture, use node/express as the backend, driven with
                                views written in handlebars, JavaScript, Node.js, SQL database
                            </p>

                            <b>KNOWLEDGE BASE COMMUNITY DESCRIPTION</b><br>
                            to create a social media for knowledge sharing. Individuals can signup and begin sharing
                            their knowledge about certain topics. Individuals can post questions, asnwer questions,
                            message other individuals, like other profiles.
                            <br>
                            <b>Challenges:</b><br>
                            login authentication (need to apply token based authentication), database design
                            optimization,
                            <br><br>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3 WEB PROJECT -->
<div class="portfolio-modal modal fade" id="webProjectModal3" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Job Posting Community
                                Web App</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <div class="row">
                                <img class="img-fluid rounded mb-5" src="img/portfolio/webProject/jobhome.png" alt="">
                                <img class="img-fluid rounded mb-5" src="img/portfolio/webProject/posting.png" alt="">
                            </div>

                            <!-- Portfolio Modal - Text -->
                            <div class="row">
                                <p class="mb-5 col-6"><a href="https://dev-yesnewcomers.herokuapp.com/">Visit
                                        Webstie</a>
                                </p>
                                <p class="mb-5 col-6"><a
                                        href="https://github.com/curtis-kim/nodejsWebAppProject.git">Github</a></p>
                            </div>

                            <p>
                                <b>Skills:</b> applying MVC architecture, Authentication System, use node/express as the
                                backend, driven with views written in handlebars, JavaScript, Node.js, SQL database,
                                Payment System (Upcoming)
                            </p>

                            <b>JOB POSTING WEB APP</b><br>
                            User can post their job on the community based on payment option.
                            <br>
                            <b>Challenges:</b><br>
                            Payment system (upcoming), Advanced Authentication
                            <br><br>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- CLOUD PROJECT -->
<div class="portfolio-modal modal fade" id="cloudProjectModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Travis CI Pipepline
                                Project</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/travisCI/pipeline.png" alt="">
                            <!-- Portfolio Modal - Text -->

                            <div class="row">
                                <p class="mb-5 col-6"><a href="https://travis-ci.com/curtisk808/os-cicd">Travis CI
                                        Repository</a></p>
                                <p class="mb-5 col-6"><a href="https://github.com/curtisk808/os-cicd">Github</a></p>
                            </div>
                            <p>
                                <b>Goal:</b> to automate the development process for the developer<br>
                                <b>Skills:</b> web application development, Docker, Travis CI commnad, Heroku, Pipeline
                                integration
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Data Science Project -->
<!-- PROJECT 1 -->
<div class="portfolio-modal modal fade" id="dataScienceProjectModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Titanic Machine
                                Learning Competition (2017)</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/datascience/titanic2.png" alt="">
                            <!-- Portfolio Modal - Text -->

                            <div class="row justify-content-around">
                                <p class="mb-5 col-6"><a
                                        href="https://curtis-kim.github.io/myblog/posts/Titanic_Kaggle_dataset.html">READ</a>
                                </p>
                            </div>
                            <p>
                                <b>Goal:</b> It is your job to predict if a passenger suvived the sinking of the Titanic
                                or not. For each Passengerld in the test set, you must predict a 0 or 1 value for the
                                survived variable. More Inforamation: Kaggle Competition: Titanic Machine Learning from
                                Disaster<br>
                                <b>Skills:</b> Python, Data Science Libraries: Numpy, Pandas, Sikit-learn
                            </p>


                            <!-- CLOSE -->
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PROJECT 2 -->
<div class="portfolio-modal modal fade" id="dataScienceProjectModal2" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Travis CI Pipepline
                                Project</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/datascience/lendingclub2.png" alt="">
                            <!-- Portfolio Modal - Text -->

                            <div class="row justify-content-around">

                                <p class="mb-5 col-6"><a
                                        href="https://curtis-kim.github.io/myblog/posts/LC_Final_Report.html">READ</a>
                                </p>
                            </div>
                            <p>
                                <b>Goal:</b> Provide a solution of How to build basic investment strategy for
                                beginners<br>
                                <b>Skills:</b> Python, Data Science Skills: Numpy, Scipy, Pandas, Statsmodels, sklearn
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>