<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="portfolio">
    <div class="container">
        <div class="w-100">
            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Portfolio</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <h3 class="page-section-heading text-left text-uppercase text-secondary">Web Application Project</h3>
            <!-- Portfolio Grid Items -->
            <div class="row justify-content-around">
                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#webProjectModal1">
                        <img class="img-fluid image" src="img/portfolio/webProject/rotationMatrix.png" alt="">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">Rotation Matrix Web Game</h4>
                    </div>
                </div>
                <!-- Portfolio Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#webProjectModal2">
                        <img class="img-fluid image" src="img/portfolio/webProject/kbCommunity.png" alt="https://blooming-thicket-91923.herokuapp.com/">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">KnowledgeBase Community</h4>
                    </div>
                </div>


            </div>
            <!-- /.row -->
            <h3 class="page-section-heading text-left text-uppercase text-secondary mb-5">Cloud Computing Experience
            </h3>
            <div class="row justify-content-around">
                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#cloudProjectModal1">
                        <img id="travisCI" class="img-fluid image" src="img/portfolio/travisCI.png" alt="">
                        <div class="middle">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                        <h4 class="text-center">Travics CI [Pipeline]</h4>
                        <!-- <div class="mask flex-center">
                      <p class="white-text">Zoom effect</p>
                  </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- DETAILS -->
<!-- WEB PROJECT -->
<div class="portfolio-modal modal fade" id="webProjectModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Rotation Matrix</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/webProject/memoryGame.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <div class="row">
                                <p class="mb-5 col-6"><a href="https://evil-fangs-55240.herokuapp.com/">Play Game</a>
                                </p>
                                <p class="mb-5 col-6"><a href="https://github.com/curtis-kim/memoryGame">Github</a></p>
                            </div>

                            <p>
                                <b>Skills:</b> applying MVC pattern, JavaScript, Node.js, Recursion, Dynamic user interaction,
                                Asynchronous, event driven programming, Cloud Deployment, Remote Database
                            </p>
                            
                            <b>MEMORY GAME DESCRIPTION</b><br>
                            Needs to quickly memorize a group of tiles on a grid (Remembering their location, and the shapes) <br>
                            - If wrong tiles are pressed the next matrix gets generated with lower
                            number of tiles, or smaller size <br>
                            - if the user successfully clicked all the tiles then the
                            game becomes one step more difficult <br><br>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="webProjectModal2" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Rotation Matrix</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <div class="row">
                                <img class="img-fluid rounded mb-5" src="img/portfolio/webProject/kbCommunity.png" alt="">
                                <img class="img-fluid rounded mb-5" src="img/portfolio/webProject/kbDatabase.png" alt="">
                            </div>
                            
                            <!-- Portfolio Modal - Text -->
                            <div class="row">
                                <p class="mb-5 col-6"><a href="https://blooming-thicket-91923.herokuapp.com/">Visit Webstie</a>
                                </p>
                                <p class="mb-5 col-6"><a href="https://github.com/curtis-kim/knowledgeBaseCommunity">Github</a></p>
                            </div>

                            <p>
                                <b>Skills:</b> applying MVC pattern, JavaScript, Node.js, Recursion, Dynamic user interaction,
                                Asynchronous, event driven programming, Cloud Deployment, Remote Database
                            </p>
                            
                            <b>KNOWLEDGE BASE COMMUNITY DESCRIPTION</b><br>

                            <b>Challenges:</b><br>
                             <br><br>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- CLOUD PROJECT -->
<div class="portfolio-modal modal fade" id="cloudProjectModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Travis CI Pipepline
                                Project</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/travisCI/pipeline.png" alt="">
                            <!-- Portfolio Modal - Text -->

                            <div class="row">
                                <p class="mb-5 col-6"><a href="https://travis-ci.com/curtisk808/os-cicd">Travis CI Repository</a></p>
                                <p class="mb-5 col-6"><a href="https://github.com/curtisk808/os-cicd">Github</a></p>
                            </div>
                            <p>
                                <b>Goal:</b> to automate the development process for the developer<br>
                                <b>Skills:</b> web application development, Docker, Travis CI commnad, Heroku, Pipeline
                                integration
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>