<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Skills</h2>

      <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <p>
        • Languages: Python, Java, C/C++, HTML, CSS, JavaScript, SQL, R, Bash<br>
        • Network: Basic knowledge of network and Linux administration.<br>
        • Database: MySQL, SQLite, PostgreSQL, MongoDB, Firebase, Airtable<br>
        • Source Control System: Git<br>
        • Frameworks/Libraries: jQuery, Bootstrap, Android, NodeJS, Django<br>
      </p>
      <!-- <ul class="list-inline dev-icons">
        <li class="list-inline-item">
          <i class="fab fa-html5"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-css3-alt"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-js-square"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-angular"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-react"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-node-js"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-sass"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-less"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-wordpress"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-gulp"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-grunt"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-npm"></i>
        </li>
      </ul> -->

      <div class="subheading mb-3">Cloud Computing Experience</div>
      o Fundamental knowledge of and hands-on experience with Cloud Computing Platforms, DevOps Engineering,
      Serverless Computing and Microservices architecture using AWS<br>
      o Configure virtual instances, load balancers, and auto scaling groups Design and deploy cloud-based
      websites<br>
      o Design, build and deploy cloud-based software applications using DevOps tools and principles to facilitate the
      software release process. Hands-on experience in CI/CD tools, Kubernetes, Docker, and more<br>
      <!-- <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Mobile-First, Responsive Design</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Cross Browser Testing &amp; Debugging</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Cross Functional Teams</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Agile Development &amp; Scrum</li>
      </ul> -->
    </div>
  </section>